h1{
    margin-top: 100px;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 200, 250);
    font-size: 1.5em;
    font-weight: bold;
}
p:hover{
    color: #D4B830;
}
#add{
   position: relative;
   border: 0px solid black;
   width: fit-content;
   margin: auto;
}
#res{
    
}